*.class
*.lst
*.netbeans_automatic_build
/PokinoJavierParodi/target/
/Herencia/target/
/Practicas/p61JavierParodiPinero/target/
/Tareas/Tarea6C_JavierParodi/target/
/Tareas/tarea1GUI_JavierParodiPinero/target/
/GUI/target/
/Interfaces/target/
/Practicas/p62JavierParodiPinero/target/
/Tareas/TareaRepasoMap_JavierParodi/target/
/Tareas/tarea2GUI_JavierParodi/target/
/Ficheros/target/
