*.class
*.lst
*.netbeans_automatic_build
/PokinoJavierParodi/target/
/Herencia/target/
/Practicas/p61JavierParodiPinero/target/
/Tareas/Tarea6C_JavierParodi/target/
/Tareas/tarea1GUI_JavierParodiPinero/target/
/GUI/target/
/Interfaces/target/
/Practicas/p62JavierParodiPinero/target/
/Tareas/TareaRepasoMap_JavierParodi/target/
/Tareas/tarea2GUI_JavierParodi/target/
/Ficheros/target/
/Tareas/Tarea7A_JavierParodi/target/
/Vico/POO_Avanzada/target/
/Tareas/tarea3GUI_JavierParodi/target/
/Tareas/tarea7b_JavierParodi/target/
/Vico/ficheros/target/
/Tareas/Tarea7C_JavierParodi/target/
/Practicas/ex17JavierParodiPinero/target/
